//  COLORES 
$color-primary: #A2231D;
$color-secondary: #00171F;
$color-tertiary: #3D0C11;
$color-light: #fff;
$color-light-alt: #FDFDFD;
$color-dark: #000;
$color-dark-alt: #491311;
$color-gray: #D9D9D9;
$color-gray-light: #99A2A5;
$color-gray-dark: #5b5f61;

// TIPOGRAFÍAS
$font-primary: "Bebas Neue", sans-serif;
$font-secondary: "Poppins", sans-serif;

// TAMAÑOS DE FUENTE
$font-size-small: 10px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-huge: 48px;
$font-size-massive: 70px;